In [1]:
import pandas as pd

In [2]:
price = pd.read_csv('price.csv')

In [3]:
price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 832 entries, 0 to 831
Data columns (total 5 columns):
brand      832 non-null object
label      832 non-null object
vintage    480 non-null float64
region     643 non-null object
price      832 non-null float64
dtypes: float64(2), object(3)
memory usage: 32.6+ KB

In [15]:
region_size = price.groupby('region').size()
region_size = pd.DataFrame(region_size,columns=['count'])
region_size.reset_index(level=0, inplace=True)

In [16]:
region_size

            region  count
0         Highland    209
1  Islay & Islands    120
2          Lowland     33
3         Speyside    281

In [17]:
region_size.sort_values(by='count')

            region  count
2          Lowland     33
1  Islay & Islands    120
0         Highland    209
3         Speyside    281

In [18]:
price.loc[price['region'] == 'Lowland']

,brand,label,vintage,region,price
83,Auchentoshan,Auchentoshan 12 Yr,12.0,Lowland,45.99
121,Glenkinchie,Glenkinchie 12 Yr,12.0,Lowland,54.99
126,Strathcolm,Strathcolm 12 Year Single Grain Scotch Whisky,12.0,Lowland,29.99
184,Strathcolm,Strathcolm Single Grain Scotch Whisky,NaN,Lowland,19.99
217,Hamilton's,Hamilton's Lowland Single Malt Scotch Whisky,NaN,Lowland,21.99
222,Strathcolm,Strathcolm 8 Year Single Grain Scotch Whisky,8.0,Lowland,24.99
258,Hamilton's,Hamilton's Lowland Single Grain,NaN,Lowland,18.99
281,Ladyburn,Ladyburn 42 Yr,42.0,Lowland,2499.99
287,Berrys',Berrys' Auchentoshan 24 Yr,24.0,Lowland,209.99
309,Battlehill,Battlehill North British 10yr,10.0,Lowland,59.99
332,Longrow,Longrow 18 Yr,18.0,Lowland,179.99
334,Berrys',Berrys' North British Single Grain 18 yr,18.0,Lowland,139.99
394,Berrys',Berrys' North British 20yr,20.0,Lowland,109.99
416,Duncan,Duncan Taylor Dimensions North British 24 YO,24.0,Lowland,134.99
418,Berrys',Berrys' Auchentoshan 21 Yr,21.0,Lowland,139.99
448,McClelland's,McClelland's Lowland,NaN,Lowland,27.99
478,Glenkinchie,Glenkinchie Distillers Edition,NaN,Lowland,79.99
502,Bladnoch,Bladnoch Talia Single Malt,NaN,Lowland,399.99
508,Duncan,Duncan Taylor Dimensions Strathclyde 25 YO,25.0,Lowland,144.99
516,Auchentoshan,Auchentoshan Wine Cask 1988,NaN,Lowland,399.99
517,Berrys',Berrys' Bladnoch 26yr,26.0,Lowland,199.99
520,Glenkinchie,Glenkinchie 24 Yr,24.0,Lowland,409.99
535,Auchentoshan,Auchentoshan 21yr,21.0,Lowland,169.99
544,Battlehill,Battlehill North British 8 Yr,8.0,Lowland,39.99
579,Bladnoch,Bladnoch Samsara Single Malt,NaN,Lowland,77.99
596,Exclusive,Exclusive Casks Bladnoch 25 Yr,25.0,Lowland,129.99
643,Battlehill,Battlehill Strathclyde 23 Year,23.0,Lowland,99.99
672,A.D.,A.D. Rattray Girvan 1964 50 Yr,NaN,Lowland,899.99
699,Berrys',Berrys' Littlemill 22yr Single Malt Scotch Whisky,22.0,Lowland,129.99
792,Ghosted,Ghosted Reserve 26 YO,26.0,Lowland,389.99
812,Gordon,Gordon & MacPhail Littlemill 1991 23 year,NaN,Lowland,669.99
815,Gordon,Gordon & MacPhail St.Magdalene 1982 31yr,NaN,Lowland,949.99
830,Littlemill,Littlemill 25 Yr Old,25.0,Lowland,3899.99