In [1]:
import pandas as pd

In [19]:
f = open('../Data/export_raw.tsv','r',encoding='utf-8-sig')
raw = f.read()

In [20]:
rows = raw.split('\n')
rows[0]

'Country\t1999\t2000\t2001\t2002\t2003\t2004\t2005\t2006\t2007\t2008\t2009\t2010\t2011\t2012\t2013\t2014\t2015\t2016\t2017'

In [21]:
header = rows[0].split('\t')
header

['Country',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017']

In [49]:
df = []
for i in range(1, len(rows)):
    row = rows[i].split('\t')
    for j in range(1, len(header)):
        if row[0]=='UNITED KINGDOM':
            df.append(['United Kingdom', header[j], row[j]])
        else:
            df.append([row[0].capitalize(), header[j], row[j]])
df = pd.DataFrame(df,columns=['country','year','volume'])

In [50]:
df

            country  year   volume
0            France  1999   523.10
1            France  2000   584.30
2            France  2001   630.10
3            France  2002   736.70
4            France  2003   845.40
5            France  2004   954.00
6            France  2005  1149.00
7            France  2006  1285.50
8            France  2007  1506.20
9            France  2008  1457.70
10           France  2009  1301.10
11           France  2010  1445.00
12           France  2011  1606.40
13           France  2012  1722.80
14           France  2013  1777.30
15           France  2014  1785.20
16           France  2015  1872.80
17           France  2016  2069.00
18           France  2017  2063.10
19   United Kingdom  1999   604.80
20   United Kingdom  2000   644.80
21   United Kingdom  2001   642.20
22   United Kingdom  2002   672.30
23   United Kingdom  2003   720.80
24   United Kingdom  2004   818.30
25   United Kingdom  2005   892.60
26   United Kingdom  2006   971.10
27   United Kingdom  2007  1070.20
28   United Kingdom  2008  1068.60
29   United Kingdom  2009  1015.10
..              ...   ...      ...
141           Italy  2007   128.20
142           Italy  2008   139.80
143           Italy  2009   151.10
144           Italy  2010   141.60
145           Italy  2011   145.20
146           Italy  2012   153.50
147           Italy  2013   152.40
148           Italy  2014   142.60
149           Italy  2015   144.20
150           Italy  2016   139.60
151           Italy  2017   144.90
152   Rest of world  1999   223.50
153   Rest of world  2000   224.00
154   Rest of world  2001   254.90
155   Rest of world  2002   288.20
156   Rest of world  2003   337.80
157   Rest of world  2004   394.60
158   Rest of world  2005   445.70
159   Rest of world  2006   484.50
160   Rest of world  2007   548.30
161   Rest of world  2008   575.30
162   Rest of world  2009   599.20
163   Rest of world  2010   551.50
164   Rest of world  2011   656.60
165   Rest of world  2012   659.40
166   Rest of world  2013   647.00
167   Rest of world  2014   616.30
168   Rest of world  2015   589.90
169   Rest of world  2016   647.50
170   Rest of world  2017   638.70

[171 rows x 3 columns]

In [51]:
df.to_csv('../Data/export.csv',index=False)