In [1]:
import pandas as pd

In [6]:
price = pd.read_csv('../Data/price.csv')
whisky = pd.read_csv('../Data/whisky.csv')

In [3]:
price.head()

       brand                       label  vintage           region  price
0   Macallan              Macallan 12 Yr     12.0         Highland  54.99
1  Glenlivet             Glenlivet 12 Yr     12.0              NaN  25.99
2  Lagavulin             Lagavulin 16 Yr     16.0  Islay & Islands  69.99
3   Balvenie  Balvenie 12 Yr Double Wood     12.0         Speyside  45.99
4       Oban                  Oban 14 Yr     14.0         Highland  58.99

In [7]:
whisky.head()

,Distillery,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral,Postcode,LatitudeUTM,LongitudeUTM,Lat,Lon
0,Aberfeldy,2,2,2,0,0,2,1,2,2,2,2,2,PH15 2EB,286580,749680,56.62508,-3.85052
1,Aberlour,3,3,1,0,0,4,3,2,2,3,3,2,AB38 9PJ,326340,842570,57.46728,-3.22997
2,AnCnoc,1,3,2,0,0,2,0,0,2,2,3,2,AB54 5LI,352960,839320,57.56370,-2.75890
3,Ardbeg,4,1,4,4,0,0,2,0,1,2,1,0,PA42 7EB,141560,646220,55.64018,-6.10911
4,Ardmore,2,2,2,0,0,1,1,1,2,3,1,1,AB54 4NH,355350,829140,57.35044,-2.74388

In [9]:
result = price.groupby(['brand'])['price'].agg(['min','max']).reset_index()
result.head()

       brand    min      max
0       A.D.  57.99   899.99
1  Aberfeldy  37.99   159.99
2   Aberlour  43.99    99.99
3    Ainsley  23.99   449.99
4  Alexander  26.99  1099.99

In [12]:
df = pd.merge(result,whisky, left_on='brand', right_on='Distillery', how='inner')
df

,brand,min,max,Distillery,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,...,Winey,Nutty,Malty,Fruity,Floral,Postcode,LatitudeUTM,LongitudeUTM,Lat,Lon
0,Aberfeldy,37.99,159.99,Aberfeldy,2,2,2,0,0,2,...,2,2,2,2,2,PH15 2EB,286580,749680,56.62508,-3.85052
1,Aberlour,43.99,99.99,Aberlour,3,3,1,0,0,4,...,2,2,3,3,2,AB38 9PJ,326340,842570,57.46728,-3.22997
2,AnCnoc,42.99,109.99,AnCnoc,1,3,2,0,0,2,...,0,2,2,3,2,AB54 5LI,352960,839320,57.56370,-2.75890
3,Ardbeg,47.99,759.99,Ardbeg,4,1,4,4,0,0,...,0,1,2,1,0,PA42 7EB,141560,646220,55.64018,-6.10911
4,Ardmore,63.99,63.99,Ardmore,2,2,2,0,0,1,...,1,2,3,1,1,AB54 4NH,355350,829140,57.35044,-2.74388
5,Auchentoshan,33.99,399.99,Auchentoshan,0,2,0,0,0,1,...,0,2,2,3,3,G81 4SJ,247670,672610,55.92231,-4.43951
6,Auchroisk,429.99,429.99,Auchroisk,2,3,1,0,0,2,...,2,2,2,2,1,AB55 6XS,340754,848623,57.54703,-3.11692
7,Balblair,59.99,2399.99,Balblair,2,3,2,1,0,0,...,0,2,1,2,1,IV19 1LB,270820,885770,57.84260,-4.17811
8,Benrinnes,444.99,444.99,Benrinnes,3,2,2,0,0,3,...,1,2,3,2,2,AB38 9NN,325800,839920,57.44458,-3.23416
9,Benromach,37.99,1899.99,Benromach,2,2,2,0,0,2,...,1,2,2,2,2,IV36 3EB,303330,859350,57.61361,-3.62003
10,Bladnoch,77.99,399.99,Bladnoch,1,2,1,0,0,0,...,1,0,2,2,3,DG8 9AB,242260,554260,54.85811,-4.45884
11,Bowmore,45.99,659.99,Bowmore,2,2,3,1,0,2,...,1,1,1,1,2,PA43 7JS,131330,659720,55.75622,-6.29024
12,Bruichladdich,49.99,769.99,Bruichladdich,1,1,2,2,0,2,...,1,2,2,2,2,PA49 7UN,126680,661400,55.76840,-6.35968
13,Bunnahabhain,54.99,4219.99,Bunnahabhain,1,2,1,1,0,1,...,1,1,2,2,3,PA46 7RR,142210,673170,55.88237,-6.12395
14,Caol Ila,62.99,1099.99,Caol Ila,3,1,4,2,1,0,...,0,2,1,1,1,PA46 7RL,142920,670040,55.85473,-6.10963
15,Cardhu,49.99,49.99,Cardhu,1,3,1,0,0,1,...,0,2,2,2,2,AB38 7RY,318790,843090,57.47036,-3.35610
16,Clynelish,56.99,56.99,Clynelish,3,2,3,3,1,0,...,0,1,1,2,0,KW9 6LR,290250,904230,58.02375,-3.87033
17,Dalmore,64.99,34999.99,Dalmore,3,2,2,1,0,1,...,2,1,2,3,1,IV17 0UT,266610,868730,57.68868,-4.23894
18,Dalwhinnie,57.99,599.99,Dalwhinnie,2,2,2,0,0,2,...,0,1,2,2,2,PH19 1AB,263670,785270,56.93543,-4.24166
19,Deanston,34.49,149.99,Deanston,2,2,1,0,0,2,...,1,1,3,2,1,FK16 6AG,271570,701570,56.18868,-4.07017
20,Edradour,64.99,93.99,Edradour,2,3,1,0,0,2,...,1,4,2,2,2,PH16 5JP,295960,757940,56.70160,-3.70242
21,Glen Elgin,379.99,379.99,Glen Elgin,2,3,1,0,0,2,...,1,1,1,2,3,IV30 8SL,322640,861040,57.59769,-3.28049
22,Glen Garioch,69.99,136.99,Glen Garioch,2,1,3,0,0,0,...,1,0,2,2,2,AB51 0ES,381020,827590,57.33834,-2.31719
23,Glen Grant,38.99,119.99,Glen Grant,1,2,0,0,0,1,...,1,2,1,2,1,AB38 7BS,327610,849570,57.53034,-3.21079
24,Glen Moray,21.99,859.99,Glen Moray,1,2,1,0,0,1,...,1,2,2,2,4,IV30 1YE,319820,862320,57.64350,-3.34511
25,Glen Scotia,46.99,82.99,Glen Scotia,2,2,2,2,0,1,...,1,2,2,1,1,PA28 6DS,172090,621010,55.42968,-5.60380
26,Glendronach,37.99,969.99,Glendronach,4,2,2,0,0,2,...,4,2,2,2,0,AB54 6DA,361200,844930,57.49283,-2.64914
27,Glenfarclas,38.99,749.99,Glenfarclas,2,4,1,0,0,1,...,3,2,3,2,2,AB37 9BD,320950,838160,57.42675,-3.31821
28,Glenfiddich,27.99,37499.99,Glenfiddich,1,3,1,0,0,0,...,0,0,2,2,2,AB55 4DH,332680,840840,57.45487,-3.12794
29,Glengoyne,43.99,3999.99,Glengoyne,1,2,0,0,0,1,...,1,2,2,3,2,G63 9LB,252810,682750,56.01494,-4.36304
30,Glenkinchie,54.99,409.99,Glenkinchie,1,2,1,0,0,1,...,0,0,2,2,2,EH34 5ET,344380,666690,55.88999,-2.89126
31,Glenlivet,25.99,319.99,Glenlivet,2,3,1,0,0,2,...,2,1,2,2,3,AB37 9DB,319560,828780,57.34334,-3.33872
32,Glenmorangie,27.99,759.99,Glenmorangie,2,2,1,1,0,1,...,0,2,1,2,2,IV19 1PZ,276750,883450,57.82409,-4.07611
33,Glenrothes,33.99,8999.99,Glenrothes,2,3,1,0,0,1,...,2,1,2,2,0,AB38 7AA,327650,849170,57.52667,-3.21031
34,Highland Park,39.99,8499.99,Highland Park,2,2,3,1,0,2,...,1,1,2,1,1,KW15 1SU,345340,1009260,58.96712,-2.95210
35,Inchgower,299.99,299.99,Inchgower,1,3,1,1,0,2,...,0,1,2,1,2,AB56 5AB,342610,863970,57.66182,-2.96389
36,Isle of Jura,84.99,1199.99,Isle of Jura,2,1,2,2,0,1,...,0,2,1,1,1,PA60 7XT,152660,667040,55.83279,-5.95153
37,Lagavulin,69.99,2999.99,Lagavulin,4,1,4,4,1,0,...,2,1,1,1,0,PA42 7DZ,140430,645730,55.63580,-6.12593
38,Linkwood,849.99,849.99,Linkwood,2,3,1,0,0,1,...,2,0,1,3,2,IV30 8RD,322640,861040,57.62935,-3.28271
39,Loch Lomond,35.49,119.99,Loch Lomond,1,1,1,1,0,1,...,0,1,2,1,2,G83 0TL,239370,680920,55.99357,-4.57683
40,Longmorn,109.99,899.99,Longmorn,3,2,1,0,0,1,...,1,3,3,2,3,IV30 8SA,322640,861040,57.60821,-3.28817
41,Macallan,54.99,34199.99,Macallan,4,3,1,0,0,2,...,4,2,2,3,1,AB38 9RX,327710,844480,57.48465,-3.20696
42,Mortlach,159.99,999.99,Mortlach,3,2,2,0,0,2,...,3,2,1,2,2,AB55 4AQ,332950,839850,57.44390,-3.11907
43,Oban,58.99,429.99,Oban,2,2,2,2,0,0,...,0,2,2,2,0,PA34 5NH,185940,730190,56.41514,-5.47207
44,Old Pulteney,34.99,169.99,Old Pulteney,2,1,2,2,1,0,...,1,2,2,2,2,KW1 5BA,336730,950130,58.43517,-3.08553
45,Scapa,69.99,76.99,Scapa,2,2,1,1,0,2,...,1,2,2,2,2,KW15 1SE,342850,1008930,58.96366,-2.99580
46,Speyburn,21.99,69.99,Speyburn,2,4,1,0,0,2,...,0,0,2,1,2,AB38 7AG,326930,851430,57.54612,-3.22013
47,Springbank,54.99,399.99,Springbank,2,2,2,2,0,2,...,1,2,1,0,1,PA28 6EJ,172280,620910,55.42889,-5.60136
48,Talisker,39.99,749.99,Talisker,4,2,3,3,0,1,...,0,1,2,2,0,IV47 8SR,137950,831770,57.30096,-6.35242
49,Tamdhu,54.99,79.99,Tamdhu,1,2,1,0,0,2,...,1,1,2,2,2,AB38 7RP,319210,841760,57.45815,-3.34826
50,Tobermory,49.99,49.99,Tobermory,1,1,1,0,0,1,...,0,1,2,2,2,PA75 6NR,150450,755070,56.62073,-6.06980
51,Tomatin,24.99,249.99,Tomatin,2,3,2,0,0,2,...,1,1,2,0,1,IV13 7YT,279120,829630,57.34100,-4.01028
52,Tomintoul,38.99,629.99,Tomintoul,0,3,1,0,0,2,...,1,1,2,1,2,AB37 9AQ,315100,825560,57.31249,-3.41212
53,Tullibardine,48.99,299.99,Tullibardine,2,3,0,0,1,0,...,1,1,2,2,1,PH4 1QG,289690,708850,56.25916,-3.78256

In [19]:
df = df.loc[df['min'] != df['max']]

In [20]:
df.head()

,brand,min,max,Distillery,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,...,Winey,Nutty,Malty,Fruity,Floral,Postcode,LatitudeUTM,LongitudeUTM,Lat,Lon
0,Aberfeldy,37.99,159.99,Aberfeldy,2,2,2,0,0,2,...,2,2,2,2,2,PH15 2EB,286580,749680,56.62508,-3.85052
1,Aberlour,43.99,99.99,Aberlour,3,3,1,0,0,4,...,2,2,3,3,2,AB38 9PJ,326340,842570,57.46728,-3.22997
2,AnCnoc,42.99,109.99,AnCnoc,1,3,2,0,0,2,...,0,2,2,3,2,AB54 5LI,352960,839320,57.56370,-2.75890
3,Ardbeg,47.99,759.99,Ardbeg,4,1,4,4,0,0,...,0,1,2,1,0,PA42 7EB,141560,646220,55.64018,-6.10911
5,Auchentoshan,33.99,399.99,Auchentoshan,0,2,0,0,0,1,...,0,2,2,3,3,G81 4SJ,247670,672610,55.92231,-4.43951